Source: hue-search
Section: misc
Priority: extra
Maintainer: Cloudera, inc. <cdh-dev@cloudera.org>
Build-Depends: debhelper (>= 7.0.50~), ant, python2.4-dev | python2.5-dev | python2.6-dev | python2.7-dev, libxml2-dev, libxslt1-dev, zlib1g-dev, libsqlite3-dev, libldap2-dev, libsasl2-dev, libmysqlclient-dev, make, python-setuptools
Depends: libsasl2, libsqlite3, zlib1g, libxslt1, libxml2
Standards-Version: 3.8.0
Homepage: http://github.com/cloudera/hue

Package: hue-search
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python (>= 2.4), python (<< 3), make (>= 3.8), hue-common, hue-user, hue-about, hue-help
Description: A UI for Search on Hue
 A web interface to Search.
